<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/updateListing" method="post">
        <h1>Edit Listing</h1>
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" placeholder="<%= listing.title %>" required>
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea id="description" name="description"placeholder="<%= listing.description %>" required></textarea>
        </div>
        <div>
            <label for="image">Image URL:</label>
            <input type="url" id="image" name="image" placeholder="<%= listing.image %>">
        </div>
        <div>
            <label for="price">Price:</label>
            <input type="number" id="price" name="price" placeholder="<%= listing.price %>">
        </div>
        <div>
            <label for="location">Location:</label>
            <input type="text" id="location" name="location" placeholder="<%= listing.location %>">
        </div>
        <div>
            <label for="country">Country:</label>
            <input type="text" id="country" name="country" placeholder="<%= listing.country %>">
        </div>
        <button type="submit">update Listing</button>
    </form>
</body>
</html>