<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="Listing/new/route" method="get">
        <button>Create New Listing</button>
    </form>
    <% for ( let listing of allListings) {%>
        <img src="<%= listing.image %>" alt="img">
        <h2><a href="/Listing/<%= listing.id %>"><%= listing.title %></a></h2>
        <h3>Price : &#8377; <%= listing.price %></h3>
        <p>Location: <%= listing.location %></p>
        <p>country : <%= listing.country %></p>
        <p><%= listing.description %></p>
    <% } %>
</body>
</html>