<% layout("/layouts/boilerplate.ejs")%>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <img src="<%= listing.image %>" class="card-img-top" alt="img" height="800" width="1200">
                    <div class="card-body">
                        <h1 class="card-title"><%= listing.title %></h1>
                        <p class="card-text">&#8377; <%= listing.price.toLocaleString("en-IN") %></p>
                        <p class="card-text"><strong>Location:</strong> <%= listing.location %></p>
                        <p class="card-text"><strong>Country:</strong> <%= listing.country %></p>
                        <p class="card-text"><%= listing.description %></p>
                        <a href="/Listing/<%= listing._id %>/edit" class="btn btn-warning">Edit</a>
                        <form action="/Listing/<%= listing._id %>?_method=DELETE" method="post" class="d-inline">
                            <button type="submit" class="btn btn-danger">DELETE</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
